img{
border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
}

img:hover {
  animation: spin-and-enlarge 4s ease-in-out;
}

@keyframes spin-and-enlarge {
  0% {transform: scale(1) rotate(0deg);}
  50% {transform: scale(1.5) rotate(2880deg);}
  100% {transform: scale(1) rotate(-2880deg);}
}

body {
  animation: color-change 3s linear infinite;

}

@keyframes color-change {
  0% {background-color: #ff0000; }
  25% {background-color: #00ff00; }
  50% {background-color: #0000ff; }
  75% {background-color: #ff0000; }
  100% {background-color: #FFA500; }
}
